.fundoCadastro {
    background-image: url("https://ik.imagekit.io/2zvbvzaqt/1655817951531.jfif?updatedAt=1744739064441");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: contain;
    background-position: left;
  }