.fundoLogin {
    background-image: url("https://ik.imagekit.io/2zvbvzaqt/118465725_658836308069803_6234744896790527455_n.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: contain;
    background-position: right;
}